<div ng-controller="ruiAppController">
  <div>
    <h2>Buttons</h2>
    <rui-button primary="true" caption="Primary"></rui-button>
    <rui-button secondary="true" caption="Secondary"></rui-button>
    <rui-button caption="Default"></rui-button>
  </div>
	<div>
		<h2>Help Text</h2>
		<label rui-helptext message="This is the help text sample text for helping with the text of samples." style="font-size:30px;">Chya</label>
    <br/>
		<label rui-helptext data="helptextdata" style="font-size:20px;">Chya</label>
    <br>
    <label rui-helptext data="helptextdata" style="font-size:40px;">Chaa</label>
	</div>
  <button ng-click="toggleAlert()">Toggle Alert</button>
  <rui-alert message="alert.message"></rui-alert>
  <div ng-repeat="type in ['info', 'warning', 'danger', 'success']">
    <rui-alert title="alert.title"
               message="alert.message"
               type="type"
               show-contact="true">
    </rui-alert>
  </div>
  <button ng-click="addTag()">Add Tag</button>
  <div>
    <rui-chip ng-repeat="tag in tags"
              name="tag.name"
              color="tag.color"
              on-remove="removeTag(tag, $index)">
    </rui-chip>
  </div>
</div>
