<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="60px" height="60px"
   viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve">
  <g>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c0" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;0 30 30;360 30 30"
       begin="0s"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c1" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;30 30 30;360 30 30"
       begin="0s"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c2" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;60 30 30;360 30 30"
       dur="1500ms"
       begin="0s"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c3" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;90 30 30;360 30 30"
       dur="1500ms"
       begin="0s"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c4" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;120 30 30;360 30 30"
       dur="1500ms"
       begin="0s"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c5" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;150 30 30;360 30 30"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c6" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;180 30 30;360 30 30"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c7" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;210 30 30;360 30 30"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c8" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;240 30 30;360 30 30"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c9" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;270 30 30;360 30 30"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c10" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;300 30 30;360 30 30"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
    <polygon fill="#00B288" points="33,3.6 27.6,0.1 26.9,0.1 26.9,3.5 30.2,5.5 26.9,7.4 26.9,10.8 27.6,10.8 33,7.3  ">

    <animateTransform id="c11" attributeName="transform"
       attributeType="XML"
       type="rotate"
       values="0 30 30;330 30 30;360 30 30"
       dur="1500ms"
       repeatCount="indefinite" />

    </polygon>
  </g>
</svg>
