.rui-btn {
  border-radius: 0px;
  border-width: 1px;
  padding: 6px 12px;
  font-weight: bold;
  &:hover {
    border-width: 1px;
  }
}

.rui-btn-default {
  color: $black;
  background-color: $white;
  border-color: $lightgrey;
  &:hover {
    color: $white;
    background-color: $green;
    border-color: $green;
  }
  &:focus {
    color: $white;
    background-color: $green;
    border-color: $green;
  }
}

.rui-btn-primary {
  background-color: $orange;
  color: $lightgrey;
  border-color: $lightorange;
  &:hover{
    background-color: $lightorange;
    color: $orange;
    border-color: $lightorange;
  }
  &:focus{
    background-color: $lightorange;
    color: $orange;
    border-color: $lightorange;
  }
  &:disabled {
    background-color: $darkgrey;
    color: $grey;
    border-color: $darkgrey;
  }
}

.rui-btn-secondary {
  background-color: $darkgrey;
  color: $white;
  &:hover{
    background-color: $darkgrey;
    color: $green;
  }
  &:focus{
    background-color: $darkgrey;
    color: $green;
  }
  &:disabled{
    background-color: $darkgrey;
    color: $black;
  }
}