.rui-helptext-container{
  display: inline-block;
  margin-left: 5px;
}
.rui-helptext-icon{
  color: $green;
  font-size: 24px;
  width: 26px;
  height: 26px;
  position: relative;
}
.rui-helptext-icon:hover{
  cursor: pointer;
}
