.rui-tooltip{
  position: absolute;
  display: block;
  width: 300px;
  bottom: 110%;
  left: calc(-30px + 50%);
  padding: 8px;
  border: 1px solid $green;
  color: $darkgrey;
  background: $white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 14px;
}
.rui-tooltip::before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20px;
  border-width: 10px 10px 0px;
  border-style: solid;
  border-color: $green transparent;
  display: block;
  width: 0;
}
.rui-tooltip::after{
  content: "";
  position: absolute;
  bottom: -8px;
  left: 22px;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
}
.rui-visibile{
  visibility: visible;
}
.rui-hidden{
  visibility: hidden;
}
